USE [master]
GO
/****** Object:  Database [DummyDB]    Script Date: 16/12/2018 03:23:12 a.m. ******/
CREATE DATABASE [DummyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DummyDB', FILENAME = N'D:\SQLDataBases\DATA\DummyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DummyDB_log', FILENAME = N'D:\SQLDataBases\DATA\DummyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DummyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DummyDB]
GO
USE [DummyDB]
GO
/****** Object:  User [NodeRedUser]    Script Date: 16/12/2018 03:23:12 a.m. ******/
CREATE USER [NodeRedUser] FOR LOGIN [NodeRedUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NodeRedUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NodeRedUser]
GO
/****** Object:  Table [dbo].[Breed]    Script Date: 16/12/2018 03:23:13 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BreedDetail] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Breed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cow]    Script Date: 16/12/2018 03:23:13 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[BreedId] [int] NOT NULL,
	[SexId] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[MotherId] [int] NULL,
	[FatherId] [int] NULL,
	[HerdId] [nchar](10) NULL,
	[IsDeleted] [bit] NOT NULL,
	[RFIDNumber] [varchar](20) NULL,
 CONSTRAINT [PK_Cow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Herd]    Script Date: 16/12/2018 03:23:13 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herd](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HerdDetail] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Herd] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 16/12/2018 03:23:13 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SexDetail] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Breed] ADD  CONSTRAINT [DF_Breed_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Cow] ADD  CONSTRAINT [DF_Cow_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Herd] ADD  CONSTRAINT [DF_Herd_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
